<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Vocord_ico.png') }}">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/my_desk">
                <img src="{{ url_for('static', filename='img/Vocord.png') }}" width="200"
                    class="d-inline-block align-top" alt="">
            </a>
            {% if name %}
            <a class="navbar-brand" href="/logout">
                <img src="{{ url_for('static', filename='img/user_ico_w_trans.png') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                {{ name }}
            </a>
            {% endif %}
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>